/* Start Variables */
:root {
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --White: hsl(0, 0%, 100%);
    --error-color: red;
    --input-font-size: 18px;
    --font-weight: 500;
}

/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 30% 100%;
}

@media (max-width: 767px) {
    body {
        background-size: 100% 50%;

    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

.template {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.template .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 767px) {

    .template .container {
        flex-direction: column;
    }
}

/* Start Form Part */
.template form {
    display: grid;
    align-items: center;
    justify-content: center;
}

.template form .field {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.template form .field label {
    padding-bottom: 10px;
    color: var(--Very-dark-violet);
}

label {
    font-size: var(--input-font-size);
    font-weight: var(--font-weight);
}

@media(max-width: 767px) {

    label,
    input {
        font-size: 13px;
    }
}

input {
    color: var(--Light-grayish-violet);
    font-size: var(--input-font-size);
    padding: 20px 0px;
    border-radius: 5px;
    border: 1px solid var(--Light-grayish-violet);
    cursor: pointer;
    font-weight: var(--font-weight);
    padding-left: 5px;
}

input:focus {
    color: var(--Very-dark-violet);
}

.template form .field .date {
    display: grid;
}

.template form .field .date .label {
    display: flex;
}

.template form .field .date .label :nth-child(2) {
    margin-left: 10px;
}

.template form .field .date .inputs {
    display: flex;
}

.template form .field .date .inputs div {
    display: flex;
}

.template form .field .date .inputs #month,
.template form .field .date .inputs #year {
    max-width: 70px;
    text-align: center;
}

@media(max-width: 767px) {

    .template form .field .date .inputs #month,
    .template form .field .date .inputs #year {
        max-width: 50px;
        text-align: center;
    }
}

.template form .field .date .inputs #year {
    margin-left: 10px;
}

.template form .field .date .inputs #cvc {
    margin-left: 10px;
}

.template form .button input {
    width: 100%;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    cursor: pointer;
    padding: 20px 0px;
}

/* End Form Part */
/* Start Cards Part */
.template .cards-part {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 767px) {
    .template .cards-part {
        flex-direction: column-reverse;
    }
}


/* Start Card Front Part */
.template .cards-part .card-front {}

.template .cards-part .card-front .front-image {
    /* width: 100%; */
    height: 200px;
    overflow: hidden;
    position: relative;
}

.template .cards-part .card-front .front-image i img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.template .cards-part .card-front .front-image .logo img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.template .cards-part .card-front .front-image .front-result {
    position: absolute;
    color: var(--White);
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: var(--input-font-size);
}

.template .cards-part .card-front .front-image .details {
    position: absolute;
    width: 100%;
    bottom: 10%;
    display: flex;
    justify-content: space-around;
    color: var(--White);
}

/* End Card Front Part */
/* Start Card Back Part */
.template .cards-part .card-back {}

.template .cards-part .card-back .back-image {
    /* width: 100%; */
    height: 200px;
    overflow: hidden;
    position: relative;
    /* margin-left: 50px; */

}

.template .cards-part .card-back .back-image img {
    height: 100%;
    width: 100%;
}

.template .cards-part .card-back .back-image .back-result {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 37%;
    right: 0px;
    text-align: end;
    padding: 20px;
    margin-right: 20px;
}

/* End Card Back Part */


/* End Cards Part */

/* Start Complete Part */
.template .complete {
    display: none;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.template .complete img {
    padding-bottom: 20px;
    padding-top: 20px;
}

.template .complete h3 {
    padding: 0px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 20px;
}

.template .complete p {
    color: var(--Dark-grayish-violet);
    margin-bottom: 30px;
}

.template .complete .button input {
    width: 300px;
    background-color: var(--Very-dark-violet);
    color: var(--White);
}

/* End Complete Part */

/* Start Error Part */
.error-input {
    border-radius: 5px;
    border: 1px solid var(--error-color);
    cursor: pointer;
}

.error-input-yymm {
    border-radius: 5px;
    border: 1px solid var(--error-color);
    cursor: pointer;
}

form .field .name-error,
form .field .number-error,
.exp-error {
    color: red;
    font-size: 12px;
    margin-top: 7px;
    font-weight: var(--font-weight);
}

.cvc-error {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 12px;
    font-weight: var(--font-weight);
    right: -50px;
    position: relative;
    /* margin-left: 10px; */
    bottom: 8px;
}

/* End Error Part */